@model IEnumerable<PasswordKeeper.Webapp.Models.EntityModel.CredentialType>

@{
    ViewBag.Title = "Index";
}

<h2>Credential Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a title="Details" href="@Url.Action("Details", new { id = item.ID})">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                <a title="Edit" href="@Url.Action("Edit", new { id = item.ID})"><i class="icon-pencil"></i></a>
                |
                <a title="View Credentials" href="@Url.Action("GetByCredentialType","Credentials", new { id = item.ID})"><i class="icon-eye-open"></i></a>
                |
                <a title="Delete" href="@Url.Action("Delete", new { id = item.ID})"><i class="icon-trash"></i></a>
            </td>
        </tr>
    }

</table>
